@import url("icons/icons.css");
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
:root,
html,
body,
.editor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #eee;
}
.editor-container {
    border: 1px solid #ddd;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
    background-color: white;
}
code,
output,
kbd,
pre {
    font-family: Consolas, "Lucida Console", "Courier New", Courier,
        monospace;
        border: 1px solid #ddd;
        background-color: #f8f8f8;
}
pre {
    padding: 8px;
    overflow: auto;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: none !important;
    border-radius: 0px;
    border-color: #ddd;
    font-family: inherit;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.editor-menubar {
    margin: 0px;
}
.editor-menubar * {
    text-shadow: none !important;
}
.editor-menubar .navbar-inner,
.nav-tabs, .status-bar {
	background-color: white;
}
.editor-menubar .navbar-inner {
    background-color: white;
    background-image: none;
    border: 0px solid;
    border-radius: 0px;
    padding: 0px 12px;
    box-shadow: none;
}
.editor-menubar .navbar-inner .brand {
    padding: 8px 8px 8px 3px;
    margin: 0px;
    font-weight: 300;
}
.editor-menubar .navbar-inner .dropdown-toggle {
    margin-bottom: -1px;
    padding: 10px 8px;
    box-shadow: 0 0 8px white inset, 0 0 8px white inset,
                0 0 8px white inset, 0 0 8px white inset;
    text-shadow: 0 0 3px white, 0 0 3px white,
                 0 0 3px white, 0 0 3px white !important;
    border-bottom: 2px solid transparent;
}
.editor-menubar .navbar-inner .dropdown-toggle:hover {
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
}
.editor-menubar .navbar-inner .dropdown.open .dropdown-toggle,
.editor-menubar .navbar-inner .dropdown .dropdown-toggle:active {
    background-color: #f0f8ff !important;
    border-bottom: 2px solid #08f;
    color: #08f !important;
}
.editor-menubar .dropdown-menu {
    margin: 0px;
    border-radius: 0px;
    padding: 4px;
    font-size: 9pt;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.editor-menubar .dropdown-menu::before,
.editor-menubar .dropdown-menu::after {
    content: "";
    display: none !important;
}
.editor-menubar .dropdown-menu .divider {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
    height: auto;
    margin: 2px 0px;
    padding: 0px 8px 0px 32px;
    background-color: transparent;
    font-size: 7pt;
    text-transform: uppercase;
    line-height: 1.8em;
    user-select: none;
}
.editor-menubar .dropdown-menu li a {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 4px;
    padding: 2px 16px;
}
.editor-menubar .dropdown-menu li a:hover,
.editor-menubar .dropdown-menu li a:focus {
    background-color: #08c;
    background-image: none;
    color: white;
}
.editor-menubar .dropdown-menu li a:active {
    background-color: #08c;
    background-image: none;
}
.editor-menubar .dropdown-menu.icons li a {
    padding: 2px 16px 2px 8px;
}
.editor-menubar .dropdown-menu li a .keyboard-shortcut {
    margin-left: auto;
    padding-left: 4px;
    font-size: 7pt;
    color: gray;
}
.editor-menubar .dropdown-menu li a:hover .keyboard-shortcut,
.editor-menubar .dropdown-menu li a:focus .keyboard-shortcut {
    color: white;
}
.editor-menubar .dropdown-menu.icons li a::before {
    content: "";
    font-family: "Material Icons";
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-right: 8px;
}
.editor-container .editor-menubar .dropdown-menu.icons li.divider.clipboard-ops .clipboard-unsupported {
    display: none;
}
.editor-container.no-clipboard .editor-menubar .dropdown-menu.icons li a.clipboard-ops {
	pointer-events: none;
	color: gray;
}
.editor-container.no-clipboard .editor-menubar .dropdown-menu.icons li.divider.clipboard-ops .clipboard-unsupported {
    display: inline;
}
.editor-container.no-clipboard .editor-menubar .dropdown-menu.icons li.divider.clipboard-ops .clipboard-unsupported a {
	display: inline;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}
.editor-container.no-clipboard .editor-menubar .dropdown-menu.icons li.divider.clipboard-ops .clipboard-unsupported a::before {
    display: none;
}
.editor-container.no-clipboard .editor-menubar .dropdown-menu.icons li.divider.clipboard-ops .clipboard-unsupported a:hover {
    background-color: transparent;
}
#cmd-new::before {
    content: "\E24D"
}
#cmd-open::before {
    content: "\E2C7"
}
#cmd-save-md::before {
    content: "\E161"
}
#cmd-copy::before {
    content: "\E14D"
}
#cmd-cut::before {
    content: "\E14E"
}
#cmd-paste::before {
    content: "\E14F"
}
#cmd-undo::before {
    content: "\E166"
}
#cmd-redo::before {
    content: "\E15A"
}
#cmd-select-all::before {
    content: "\E162"
}
#cmd-full-screen::before {
    content: "\E5D0"
}
#cmd-full-screen[state=true]::before {
    content: "\E5D1"
}
#cmd-toggle-autosplit::before {
    content: "\E871"
}
.nav-tabs {
    margin: 0px;
    padding: 0px 8px;
    text-transform: uppercase;
}
.nav-tabs .nav-items .nav-link {
    border: 0px solid !important;
    border-radius: 0px;
    margin: 0px;
    color: black;
}
.nav-tabs .nav-items {
    font-size: 9pt;
}
.nav-tabs .nav-items:hover {
    border-bottom: 2px solid #f0f0f0;
}
.nav-tabs .nav-items.active {
    border-bottom: 2px solid #08c;
}
.nav-tabs .nav-items .nav-link {
    padding: 2px 8px;
    box-shadow: 0 0 4px white inset, 0 0 4px white inset,
                0 0 4px white inset, 0 0 4px white inset;
}
.nav-tabs .nav-items .nav-link:hover {
    background-color: #f0f0f0;
    color: black;
}
.nav-tabs .nav-items.active .nav-link {
    color: #08c;
    background-color: #f0f8ff;
}
.tab-content,
.tab-pane {
    display: flex;
    width: 100%;
    height: 100%;
}
.tab-pane {
    display: flex;
    flex-direction: column;
    padding: 8px;
    overflow: hidden;
}
.tab-pane .tab-title {
    display: none;
    font-size: 9pt;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0px;
    margin: -8px 0px 8px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    user-select: none;
}
.tab-pane .tab-title button {
    background-color: transparent;
    background-image: none;
    border: 0px solid;
    border-radius: 0px;
    box-shadow: 0 0 4px white inset, 0 0 4px white inset,
                0 0 4px white inset, 0 0 4px white inset;
    text-shadow: 0 0 1px white, 0 0 1px white,
                 0 0 1px white, 0 0 1px white !important;
}
.tab-pane .tab-title button:hover {
    background-color: #f8f8f8;
}
.tab-pane .tab-title button:active {
    background-color: #f0f8ff;
    color: #08c;
}
.editor-edit {
    display: flex;
}
.editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.editor-edit .editor-edit-field {
    background-color: white;
    border: 0px solid;
    border-radius: 0px;
    padding: 0px;
    margin: 8px 0px 0px 0px;
    width: 100%;
    height: 100%;
    resize: none;
    font-family: Consolas, "Lucida Console", "Courier New", Courier,
        monospace;
    box-shadow: none !important;
}
.editor-preview .editor-preview-frame {
    width: 100%;
    height: 100%;
    border: 0px solid;
}
.font-family-pane {
    padding: 6px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    display: flex;
    gap: 6px;
}
.font-family-pane > span {
    font-size: 9pt;
    user-select: none;
}
.font-family-pane > .font-family {
    margin: 0px;
    width: 100%;
    font-size: 9pt;
}
.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 9pt;
    border-top: 1px solid #ddd;
}
.status-bar .left-side,
.status-bar .right-side {
    display: flex;
    flex-direction: row;
}
.status {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    user-select: none;
    padding: 2px 8px;
    box-shadow: 0 0 4px white inset, 0 0 4px white inset,
    0 0 4px white inset, 0 0 4px white inset;
}
.status.danger {
    background-color: #fee;
    color: #800;
}
.status::before {
    margin-right: 2px;
}
.status-bar .left-side .status + .status,
.status-bar .right-side .status + .status {
    border-left: 1px solid #ddd;
}
#parse-time::before {
    content: '\E425';
    font-family: "Material Icons";
}
#parse-time::after {
    content: "\00A0ms";
}
#missing::before {
    content: '\E002';
    font-family: "Material Icons";
}
.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0px solid;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    -webkit-backdrop-filter: grayscale();
    backdrop-filter: grayscale();
    z-index: 999;
}
.modal.hidden {
    display: none;
}
.modal .dialog {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.875);
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.modal .dialog .dialog-title {
    text-align: center;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ddd;
}
.modal .dialog .dialog-body {
    padding: 0.75em;
    min-height: 360px;
    height: 100%;
}
.modal .dialog .dialog-body .dialog-body-frame {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}
.modal .dialog .dialog-foot {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    min-height: 48px;
    gap: 4px;
    padding: 8px;
}
.modal .dialog .dialog-foot button {
    flex: 1 0 33.33%;
}
@media only screen and (max-width: 375px) {
	.editor-menubar .navbar-inner .brand {
		display: none;
	}
	.editor-menubar .navbar-inner {
		padding-left: 8px;
	}
}
@media only screen and (min-width: 600px) {
    * {
        scrollbar-color: #222;
    }
    .editor-container.autosplit .editor-menubar {
        border-bottom: 1px solid #ddd;
    }
    .editor-container.autosplit .nav.nav-tabs {
        display: none;
    }
    .editor-container.autosplit .tab-content {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 0px 8px;
    }
    .editor-container.autosplit .tab-content .tab-pane {
        display: flex;
        width: 100%;
        height: 100%;
        flex-shrink: 1;
    }
    .editor-container.autosplit .tab-content .tab-pane + .tab-pane {
        border-left: 1px solid #ddd;
    }
    .editor-container.autosplit .tab-content .tab-pane .tab-title {
        display: flex;
    }
}
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        cursor: pointer !important;
        opacity: 0;
    }
    ::-webkit-scrollbar:hover {
        opacity: 1;
    }
    ::-webkit-scrollbar-button {
        height: 4px;
        width: 16px;
        background-color: #222;
        transition-duration: 0.25s;
    }
    ::-webkit-scrollbar-button:horizontal {
        height: 16px;
        width: 4px;
    }
    ::-webkit-scrollbar-button:hover {
        height: 16px;
        width: 16px;
        background-color: #888;
    }
    ::-webkit-scrollbar-button:active {
        background-color: #666;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
        background-color: #222;
    }
	body {
        background-color: #222;
		color: white;
	}
	input, textarea {
		background-color: black !important;
		border-color: #666 !important;
		color: white !important;
	}
	::placeholder {
		color: #888 !important;
	}
	.container, .editor-container, .editor-menubar, .editor-menubar .navbar-inner, 
    .nav, .font-family, .editor-edit-field {
		background-color: black !important;
	}
	.editor-container, .nav-tabs, .font-family-pane, .status-bar {
		border-color: #666;
	}
	.font-family-pane, .status-bar {
		background-color: #444;
	}
    .editor-menubar .brand {
        color: lightgray;
    }
	.editor-menubar .navbar-inner .dropdown-toggle {
		color: lightgray;
	    padding: 10px 8px;
	    box-shadow: 0 0 8px black inset, 0 0 8px black inset,
	                0 0 8px black inset, 0 0 8px black inset;
	    text-shadow: 0 0 3px black, 0 0 3px black !important;
	    border-bottom: 2px solid transparent;
	}
    .editor-menubar .navbar-inner .dropdown-toggle:focus {
        color: white;
	}
	.editor-menubar .navbar-inner .dropdown-toggle:hover {
	    background-color: #111;
	    border-bottom: 2px solid #666;
        color: white;
	}
	.editor-menubar .navbar-inner .dropdown.open .dropdown-toggle,
	.editor-menubar .navbar-inner .dropdown .dropdown-toggle:active {
	    background-color: #012 !important;
	    border-bottom: 2px solid #08f;
	    color: #08f !important;
	}
	.editor-menubar .dropdown-menu {
	    background-color: rgba(0, 0, 0, 0.75);
	    border-color: #444;
	    border-color: rgba(255, 255, 255, 0.25);
	}
	.editor-menubar .dropdown-menu .divider {
		color: gray;
	    border-color: #444;
	    border-color: rgba(255, 255, 255, 0.25);
	}
	.editor-menubar .dropdown-menu .divider a {
	    color: #08c;
	}
	.editor-menubar .dropdown-menu li a {
		color: white;
	}
	.editor-menubar .dropdown-menu li a:hover,
	.editor-menubar .dropdown-menu li a:focus {
	    background-color: #08c;
	    background-image: none;
	}
	.editor-menubar .dropdown-menu li a:active {
	    background-color: #08c;
	    background-image: none;
	}
    .nav-tabs .nav-items:hover {
        border-color: gray;
    }
    .nav-tabs .nav-items.active:hover {
        border-color: #08c;
    }
	.nav-tabs .nav-items .nav-link {
		color: lightgray;
	}
	.nav-tabs .nav-items .nav-link {
	    padding: 2px 8px;
	    box-shadow: 0 0 4px black inset, 0 0 4px black inset,
	                0 0 4px black inset, 0 0 4px black inset;
	}
    .nav-tabs .nav-items .nav-link:hover {
	    background-color: #444;
        color: white;
	}
	.nav-tabs .nav-items.active .nav-link {
	    color: #08c !important;
	    background-color: #002040;
	}
	.tab-pane .tab-title {
	    border-bottom: 1px solid #666;
	}
	.tab-pane .tab-title button {
		color: white;
	    box-shadow: 0 0 4px black inset, 0 0 4px black inset,
	                0 0 4px black inset, 0 0 4px black inset;
	    text-shadow: 0 0 1px black, 0 0 1px black,
	                 0 0 1px black, 0 0 1px black !important;
	}
	.tab-pane .tab-title button:hover {
	    background-color: #444
	}
	.tab-pane .tab-title button:active {
	    background-color: #002040;
	    color: #08c;
	}
	.status {
	    display: flex;
	    flex-direction: row;
	    align-items: stretch;
	    user-select: none;
	    padding: 2px 8px;
	    box-shadow: 0 0 4px #444 inset, 0 0 4px #444 inset,
	    0 0 4px #444 inset, 0 0 4px #444 inset;
	}
	.status.danger {
	    background-color: #400;
	    color: #fee;
	}
	.status-bar .left-side .status + .status,
	.status-bar .right-side .status + .status {
	    border-left: 1px solid #666;
	}
	@media only screen and (min-width: 600px) {
        .editor-container.autosplit .editor-menubar {
            border-bottom: 1px solid #666;
        }
	    .editor-container.autosplit .tab-content .tab-pane + .tab-pane {
	        border-left: 1px solid #666;
	    }
	}
}